#sidebar
{
  height: 340px;
  width: 200px;
  background-color: rgb(179, 108, 119);
}
#sidebar>h3{
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: teal;
}
h2{
  text-align: center;
}
#results{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: auto;
  gap: 10px;
  border: 1px solid black;
  height: 100px;
  width: 200px;
  margin-left: 30px;
  margin-top: 15px;
}
#block2
{
  display: flex;
  margin-top: 15x;
  width: 100%;
  border: 1px solid teal;
  height: 1000px;
}